body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-image:url(img/background.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
      
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(151, 134, 218);  
}

.header #logo {
    display: flex;
    width: 130px;
    height: auto;
    padding: 4px;
    margin: 4px 4px 4px 160px ;
}

#header-text {
    display: flex;
    font-family: 'Dancing Script', cursive;
    color: blanchedalmond;
    font-size: 54px;
    font-weight: 600px; 
    padding: 8px;
    margin: 4px 4px 4px 120px ;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-right: 130px; 
}

ul {
    list-style: none;
}

a {
    margin: 20px;
    color: blanchedalmond;
}

.awesome {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: rgb(151, 134, 218);
}


.welcome {
    margin: 4px 4px 100px 160px ;
    padding: 4px;
    color: rgb(151, 134, 218);
}

.welcome-text{
    font-size: 48px;
    margin-bottom: 10px;
}

.text {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.first,
.second,
.third,
.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    margin: 6px;
    background: none;
    background-color: cornflowerblue;
    color: blanchedalmond;
    border: 2px solid cornflowerblue;
    border-radius: 7%;
    padding: 0.5em 1em;
    transition: all 0.25s;   
}

#placeholder{
    display: flex;
    max-height: 300px;
    border-radius: 2%;
    margin-left: 30px;
    margin-right: 400px;
    padding:8px;
    border-radius: 2%;
    background:#FFE156;   
    border:1px solid #FFE156;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px ;  
    color: rgb(151, 134, 218);
}

.random {
    display: flex;
    justify-content: center;
    color:rgb(151, 134, 218);
    font-size: 30px;
     font-weight: 500;
    margin-bottom: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-evenly;
    transition: all 0.25s;
}

img:hover {
    transform: translateY(-0.25em);
}

button:hover{
    border-color: purple;
    box-shadow: 0 0.5em 0.5em -0.4em purple;;
    transform: translateY(-0.25em)   
}


.images img {
    transition: all 0.25s;
}

.galaxies{
    width: 250px;
    height: 250px;
    border-radius: 2%;
    background:#FFE156;
    border:1px solid rgb(13, 3, 57);
    padding:8px;
} 


.quote {
    display: flex;
    flex-direction:column ;
    font-size: 28px;
    margin-top: 30px;
    background-color: #BEA7E5;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
}

.quote div {  
    margin: 30px;
    margin-bottom: 15px;
    max-width: 800px;
    max-height: 800px;
}

.sign-up {
    display: flex;
    flex-direction: column;
}

.name  {
    display: flex;
    align-items: flex-start;
    justify-self:  flex-start;
    margin-bottom: 30px;
    font-size:20px;
}

.bottom {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(8, 46, 128);
    border-radius: 24px;
    flex-shrink: 1;;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
